services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data_dev:/data/db

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    volumes:
      - redis_data_dev:/data

volumes:
  mongo_data_dev:
  redis_data_dev:
